body
{
    display: flex;
    flex-flow: wrap column;
    justify-content:center;
    align-items:center;
    aspect-ratio: 16/10;
    background: #fff;

}
.water-droplet
{
    position: relative;
    width: 160px;
    height: 168px;
    border-radius: 100% 84% 96% 88%;
    background: radial-gradient(ellipse at 22% 20%, rgba(0, 180,216,1) 0%, rgba(144, 224, 239, 1) 28%, rgba(202, 240,248, 1) 100%);
    box-shadow: 10px 10px 15px 5px rgba(0, 180,216,.4), 5px 5px 6px rgba(0, 180, 216, .8), 15px 15px 40px rgba(0, 180, 216,.4), 15px 15px 60 px rgba(0,180,216,.6), inset -3px -3px 5px rgba(255,255,255,.8);

}
.water-droplet:before
{
    content:'';
    position: absolute;
    width: 123px;
    height:90px;
    background: transparent;
    border-radius: 100% 95% 96% 90%;
    box-shadow: inset 7px 19px 15px -10px rgba(255, 255,255,1);
    top:12px ;
    left: 12px;
    transform: rotate(-20deg);
    filter: blur(1px);
}
